@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e2e;
    color: #cba6f7;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
###############################################################################################################
*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35354f;
    padding: 10px 20px;
    position: relative;
}

.logo img {
    height: 50px;
    width: auto;
    border-radius: 10px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0 0 64px #cba6f7;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #cba6f7;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #74c7ec;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .header img {
        width: 2rem;
        height: 2rem;
    }

    .title {
        position: static;
        transform: none;
        margin: 10px 0;
        font-size: 0.9rem;
    }

    .nav-links {
        justify-content: center;
        margin-top: 10px;
    }

    .nav-links a {
        font-size: 0.6rem;
    }
}

/*
###############################################################################################################
*/

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main .input {
    border: 2px solid #cba6f7;
    border-radius: 5px;
    color: #cba6f7;
    background-color: #35354f;
    text-align: center;
    height: 2rem;
    width: 15rem;
    margin-top: 10px;
}

.main img {
    width: 10%;
    height: 10%;
}

@media (max-width: 600px) {
    .main img {
        width: 30%;
        height: 30%;
    }
    .main .input {
        font-size: 0.5rem;
        height: 2rem;
        width: 10rem;
    }
}

/*
###############################################################################################################
*/

.footer {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35354f;
    padding: 10px 20px;
    width: 100%;
    font-size: 0.5rem;
}

.footer a {
    color: #F7A6E8;
}
  